
body {
  background-color: #0a0f24;
  font-family: Arial, sans-serif;
  text-align:center;
  color: white;
  margin: 0;
  padding: 0;
}


.main-container {
  width: 100vw; 
  text-align: center;
  padding: 50px 0;
}


.login-container {
  width: 100%;
  max-width: 400px; 
  margin: 10% auto; 
  padding: 20px;
  text-align: center;
  background: rgba(10, 20, 50, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}
h2 {
  color: #ff00ff;
  font-size: 24px;
  text-align: center;
}



input, button {
  width: 80%;
  padding: 12px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  display: block;
}

input {
  background: #1e2953;
  color: white;
  text-align: center;
}

button {
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(45deg, #00ffff, #ff00ff);
  color: white;
}
